.formContainer{
    

}
.amount{
    background-color: #f8f8f8;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    font-size: 12px;
    padding: 5px;
    margin-top: 0.5rem;
    .title{
        margin-right: 1rem;
    }
}
.headerTable{
    background-color: #f8f8f8;
    border-radius: 10px;
}