@import "../../assets/scss/_variables";

body {
  direction: rtl;
  text-align: right;
  font-family: $font-family-base;
  font-size: 1rem;
  font-weight: 400;
  color: $text-100;
  background-color: $body-bg;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: $primary;
  color: #fff;
}

::-moz-selection {
  background-color: $primary;
  color: #fff;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $font-family-secondary;
  color: $text-100;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  color: $text-100;
}

a {
  color: $primary;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

video {
  display: block;
  width: 100%;
  border-radius: 10px;
}

time {
  font-size: 0.75rem;
  text-transform: uppercase;
}

figure {
  figcaption {
    font-size: 0.75rem;
    font-weight: 400;
    margin: 3px 0 5px;
  }
}

blockquote {
  padding: 20px;
  border: 2px solid #ebebeb;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  color: $text-100;
}

iframe {
  display: block;
  width: 100%;
}

.d-ltr {
  direction: ltr;
}

.d-rtl {
  direction: rtl;
}

.landing-wrapper {
  position: relative;

  .main-wrapper {
    background-color: $body-bg;
  }

  .section-title {
    max-width: 640px;
    margin: 0 auto 65px;
    text-align: center;

    .section-title__title {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 26px;
      color: $text-100;

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 17px;
        margin-top: 8px;
        background: {
          image: url("src/assets/img/lay/title-border.png");
          repeat: no-repeat;
          position: 45% 0;
          size: 230px 17px;
        }
      }
    }

    .section-title__subtitle {
      font-size: 1.25em;
      font-weight: 500;
      color: $text-100;
      margin: 0 auto;
      max-width: 84%;
    }
  }

  .section-more {
    text-align: center;
    margin-top: 65px;

    a:not(.btn) {
      font-size: 1.125rem;
      font-weight: 400;
      color: $primary;

      .icon {
        margin-right: 12px;

        svg {
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  .section-gap {
    margin-bottom: $section-gap;
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    background-color: transparent;
    transition: all 0.4s ease-out 0.1s;

    &.show {
      opacity: 1;
      visibility: visible;
      background-color: rgba(0 0 0 / 0.2);
    }
  }

  img.avatar {
    width: 80px;
    height: 80px;
    padding: 5px;
    border: 1px solid #ebebeb;
    border-radius: 50%;
  }

  span.icon {
    display: inline-block;
    vertical-align: middle;

    svg {
      width: 1rem;
      height: 1rem;
      display: block;
    }
  }

  span.count {
    font-style: italic;
    font-size: 0.75rem;
  }

  .user-pill {
    display: inline-block;
    text-align: center;
    border: none;
    outline: none;
    height: 56px;
    line-height: 56px;
    padding: 0 18px;
    border-radius: 28px;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    background-color: rgba(#fff, 20%);
    transition: all 150ms ease-in-out;

    .icon {
      margin-right: 20px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &:hover {
      background-color: rgba(#fff, 22%);
      color: #fff;
    }

    &.user-pill--primary {
      background-color: $primary-10;
      color: $primary;

      .icon svg path {
        fill: $primary;
      }
    }
  }
}
