.float-input {
  font-family: var(--bs-font-shabnam);
  position: relative;
  padding-bottom: 5px;

  .ant-input {
    font-family: var(--bs-font-shabnam);
  }
  .ant-input-affix-wrapper.ant-input-affix-wrapper-lg {
    padding: 10px 11px;
  }
  .label {
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    right: 12px;
    top: 11px;
    transition: 0.2s ease all;
    z-index: 10;

    &.as-placeholder {
      color: gray;
    }
    &.as-label {
      top: -8px;
      right: 12px;
      font-size: 12px !important;
      background: white;
      padding: 0 4px;
      margin-left: -4px;
    }
  }
  .is-prefix {
    right: 40px;
  }
}
