@font-face {
  font-family: "Shabnam";
  src: url("../fonts/shabnam/Shabnam-FD-WOL.eot"); /* IE9 Compat Modes */
  src:
    local("Shabnam"),
    local("Shabnam-Regular"),
    url("../fonts/shabnam/Shabnam-FD-WOL.woff2") format("woff2"),
    url("../fonts/shabnam/Shabnam-FD-WOL.woff") format("woff"),
    url("../fonts/shabnam/Shabnam-FD-WOL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
