$primary: #335FFC;
$primary-60: rgba($primary, 60%);
$primary-40: rgba($primary, 40%);
$primary-10: rgba($primary, 10%);
$secondary: #f8b635;
$success: #0ED039;
$danger: #FF1F11;
$danger-40: rgba($danger, 40%);
$danger-10: rgba($danger, 10%);
$text-100: #040F4A;
$text-60: rgba($text-100, 60%);
$text-40: rgba($text-100, 40%);
$text-10: rgba($text-100, 10%);
$body-bg: #FFF;
$footer-bg: #050625;
$star: #FDBA14;

$shabnam-font: 'Shabnam', sans-serif;
$font-family-base: $shabnam-font;
$font-family-secondary: $shabnam-font;

$fonts-path: '../fonts';
$images-path: '../img';
$icons-path: '../img/icons';

$tooltip-font-size: 11px;
$tooltip-border-radius: 0;

$section-gap: 140px;
$border-radius: 10px;
$transition-base: all 180ms ease-in-out;

/*$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);*/

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1164px,
  //xxl: 1320px
);
