.custom-card {
  background: #fff;
  box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  border: none;
  &.card--h100pc {
    height: 100%;
  }
  &.card-secondary {
    .card-header {
      padding-bottom: 15px;
    }
  }
  .card-header {
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    padding: 25px 0 20px;
    margin-right: 25px;
    margin-left: 25px;
    border-bottom: 1px solid rgba(3, 4, 27, 0.03);
    &.card-header-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .card-action .btn {
      border: none;
      background-color: transparent;
      outline: none;
      font-size: 1rem;
      font-weight: 500;
      color: #111bff;
      padding: 0;
      text-decoration: none;
    }
  }
  .card-body {
    padding: 25px;
  }
}
.user-summary {
  background-image: url(../../assets/img/coins/bitcoin-batch.png);
  background-repeat: no-repeat;
  background-size: 235px 183px;
  background-position: 40px -14px;
  & .user-summary__section {
    min-height: 75px;
    margin-top: 24px;

    h6 {
      margin-bottom: 20px;
      font-size: 0.875em;
      font-weight: 500;
      line-height: 18px;
    }
  }
  .card-body {
    padding: 26px;
  }
  .user-summary-avatar {
    .avatar {
      width: 68px;
      height: 68px;
      padding: 0;
      border: none;
    }
  }
  .user-summary-edit {
    .profile-btn {
      padding: 9px 18px;
      background-color: transparent;
      border: 1px solid rgba(3, 4, 27, 0.1);
      border-radius: 10px;
      color: rgba(3, 4, 27, 0.4);
      font-size: 0.875rem;
    }
    h6 {
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  .user-summary-date {
    color: rgba(3, 4, 27, 0.6);
  }
}
.auth-jumbotron {
  background-color: rgba(17, 27, 255, 0.03);
  box-shadow: none;
  .card-header {
    padding-bottom: 0;
    border: none;
    background-color: transparent;
  }
  .card-body {
    padding: 10px 25px 50px;
  }
  &__summary {
    p {
      color: rgba(3, 4, 27, 0.5);
      font-size: 1em;
      margin-top: 15px;
      max-width: 440px;
      text-align: justify;
    }
    .btn {
      height: 42px;
      line-height: 38px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &__advantages {
    margin: 0;
    padding: 0;
    list-style: none;
    h5 {
      font-size: 1.125em;
      margin-bottom: 20px;
    }
    li:not(:first-child) {
      font-size: 0.75em;
      font-weight: 400;
      color: rgba(3, 4, 27, 0.5);
      .icon {
        margin-left: 5px;
      }
      strong {
        font-weight: 500;
        color: #03041b;
        margin-right: 5px;
      }
      & + li {
        margin-top: 8px;
      }
    }
  }
}

.box-wallet {
  height: 44px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  &.usdt-box {
    border: 1px solid rgb(36 166 127/34%);
  }
  &.tl-box {
    border: 1px solid #e30c186b;
  }
  &.aed-box {
    border: 1px solid #296c404a;
  }
  &.usd-box {
    border: 1px solid #2e65404f;
  }
  &.gbp-box {
    border: solid 1px #81808047;
  }
  &.eur-box {
    border: 1px solid #10146f3d;
  }

  .dot-wallet {
    border-radius: 25px;
    margin-right: 12px;
    margin-left: 4px;
    height: 9px;
    width: 22px;
    &.usdt-show {
      background: rgb(36 166 127);
    }
    &.tl-show {
      background: #e30c18ab;
    }
    &.aed-show {
      background-color: #296c40c2;
    }
    &.usd-show {
      background-color: #2e6540de;
    }
    &.gbp-show {
      background-color: #818080c9;
    }
    &.eur-show {
      background-color: #10146fc2;
    }
  }

  .name-currency-wallet {
    color: rgb(2.877604588866234, 3.8727723760530353, 26.56249936670065);
    opacity: 0.5;
    text-align: right;
    font-size: 12px;
    width: 100%;
  }

  .now-wallet-show {
    color: rgb(2.877604588866234, 3.8727723760530353, 26.56249936670065);
    text-align: left;
    font-size: 11px;
    margin-left: 10px;
    width: 100%;
  }
}

.full-toman {
  width: 280px;
  background-color: rgb(
    247.56250709295273,
    247.56250709295273,
    247.56250709295273
  );
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 10px;
}

.wallet-img-chart {
  width: 90px;
}
