.amount {
  background-color: #f8f8f8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding: 5px;
  margin-top: 0.5rem;
  .title {
    margin-right: 1rem;
  }
}
.currencyExchangeAction {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  .btn {
    width: 48%;
  }
}

.wage {
  overflow: auto;
  margin-top: 1.5rem;
  .table {
    border-collapse: collapse;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    border-color: #e4e4e4;
    color: #03041b;
    margin: 0;
    width: 100%;
    & > :not(caption) > * > * {
      padding: 0.5rem 0.5rem;
      background-color: transparent;
      border-bottom-width: 1px;
      box-shadow: inset 0 0 0 9999px transparent;
    }
    & > :not(:first-child) {
      border-top: unset;
    }
    thead {
      background-color: #f8f8f8;
      vertical-align: bottom;
      border-radius: 10px;
      th {
        font-size: 0.875em;
        font-weight: 500;
        color: rgba(3, 4, 27, 0.4);
        border: none;
        &:first-child {
          border-radius: 0 5px 5px 0;
        }
        &:last-child {
          border-radius: 5px 0 0 5px;
        }
      }
    }
    tbody {
      vertical-align: inherit;
      tr {
        td,
        th {
          line-height: 31px;
          vertical-align: middle;
          font-size: 0.75em;
        }
        &:last-child {
          td,
          th {
            border-bottom: none;
          }
        }
      }
    }
  }
}

.wrapper {
  position: relative;
  border: 1px solid rgb(217 217 217);
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;

  &.has-error {
    border-color: var(--bs-danger);
  }

  .input {
    display: block;
    width: 100%;
    padding: 0 12px;
    border: none;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 0.75em;
    font-weight: 400;
    direction: ltr;
    background-color: #fff;
    box-shadow: none;
    color: #03041b;
    background-clip: padding-box;
    appearance: none;
    border-radius: 10px;

    box-shadow: none !important;
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }
}
.dropdown {
  width: 100%;
  font-size: 1em;
  border: none;
  height: 34px;
  line-height: 34px;
  text-align: center;
  position: static !important;
  font-weight: 400;
  float: none;
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: none;
  color: #03041b;
  appearance: none;
  border-radius: 10px;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  .dropdown-btn {
    background-color: rgba(3, 4, 27, 0.1);
    border: none;
    height: 34px;
    line-height: 34px;
    font-size: 0.75em;
    font-weight: 400;
    padding: 0 12px;
    background-image: url(../../../img/icons/angle-down.svg);
    background-repeat: no-repeat;
    background-size: 12px 6px;
    background-position: 12px 50%;
    position: relative;
    width: 100%;
    text-align: right;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    color: #03041b;
    border-radius: 10px;
    transition:
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    &::after {
      content: none;
    }
  }
  .selected {
    left: unset;
    right: 0;
    float: right;
    text-align: right;
    height: auto;
    position: static;
    top: 0;
    width: 100%;
    overflow: hidden;
    flex: 0 1 auto;
    &__item {
      overflow: hidden;
      text-align: right;
    }
    img {
      margin-left: 8px;
      vertical-align: middle;
    }
  }
  .dropdown-menu {
    font-size: 1em;
    top: -42px !important;
    left: -10px !important;
    border: none;
    box-shadow: -10px 4px 64px rgba(0, 0, 0, 0.03);
    min-width: 100%;
    box-sizing: border-box;
    text-align: right;
    font-size: 1em;
  }
}

.detail {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  border-radius: 10px;
  border: none;
  justify-content: space-between;
  background-color: #f8f8f8;
  margin-top: 10px;
  padding: 10px;
  svg {
    margin-left: 5px;
    font-size: 1.2rem;
    color: #03041b;
  }
}
.radioToggleControl {
  font-size: 1em;
  font-weight: 500;
  color: #000;
  padding: 0 6px 0 16px;
  line-height: 30px;
  cursor: pointer;
  border: 1px solid rgba(3,4,27,.1);
  border-radius: 5px;
  transition: all 180ms ease-in-out;
}
