.wrapper {
  position: relative;
  background-color: #fbfbfb;
  display: flex;

  .main-wrapper {
    width: calc(100% - 236px);
    padding: 40px 24px;
    margin-right: 225px;
  }
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    background-color: transparent;
    transition: all 0.4s ease-out 0.1s;
  }
}

.header {
  margin-bottom: 24px;
  & .card {
    background: #fff;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    border: none;
    & .card-body {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      padding: 20px 40px;
    }
  }
  &__logo {
    display: none;
  }
  &__navbar {
    display: flex;
    align-items: center;
    li {
      &:not(:last-child, .dashboard-header__navbar__close) {
        padding-left: 1rem;
        margin-left: 1rem;
        border-left: 1px solid rgba(3, 4, 27, 0.05);
      }
      a {
        display: inline-block;
        color: #03041b;
        font-size: 0.875em;
        font-weight: 400;
        line-height: 34px;
      }
    }
    &__close {
      display: none;
      line-height: 12px;
    }
  }
  &__support {
    margin-right: auto;
    margin-left: 60px;
    a {
      font-size: 0.875em;
      font-weight: 500;
      color: #03041b;
    }
  }
  &__notification {
    position: relative;
    margin-right: 20px;
    &:before {
      animation: ping 1.7s ease infinite;
      opacity: 0.25;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: -1px;
      right: -2px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #ff1f11;
    }
  }
  &__subheader {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px -25px 0;
    padding: 25px 25px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  &__hamburger-btn {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-left: 15px;
    & + & {
      margin-left: 0;
      display: none;
    }
  }
}

.sidebar {
  min-width: 236px;
  max-width: 236px;
  background-color: #fff;
  padding: 20px;
  align-self: flex-start;
  box-shadow: -10px 4px 64px rgba(0, 0, 0, 0.03);
  position: fixed;
  &__close {
    border: none;
    padding: 0;
    background-color: transparent;
    outline: none;
    width: 12px;
    height: 12px;
    line-height: 12px;
    display: none;
  }
  &__logo {
    text-align: center;
    margin-top: 20px;
    img {
      width: 86px;
    }
  }
  &__navbar {
    padding: 60px 0 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(100vh - 147px);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    &__item {
      position: relative;
      display: block;
      width: 100%;
      transition: all 200ms ease-out;
      & > a > span {
        padding: 0 5px;
      }
      &:before {
        display: block;
        width: 3px;
        height: 22px;
        border-radius: 2px;
        background-color: #111bff;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &.active {
        background-color: rgba(17, 27, 255, 0.1);
        border-radius: 10px;

        &:before {
          content: "";
        }
        a {
          color: #111bff;
          font-weight: 500;
        }
      }
      &.item-logout {
        margin-top: auto;
        &:hover a {
          color: #ff1f11;
        }
      }
      a {
        display: block;
        height: 62px;
        line-height: 62px;
        color: #03041b;
        padding: 0 25px;
      }
      .icon {
        margin-left: 10px;
      }
    }
  }
}

.custom-card {
  background: #fff;
  box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  border: none;
}

.user-summary {
  background-image: url(/src/assets/img/coins/bitcoin-batch.png) !important;
  background-repeat: no-repeat !important;
  background-size: 235px 183px !important;
  background-position: 40px -14px !important;
  &__body {
    padding: 40px !important;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: -24px;
  }
  li {
    min-height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;
    &:not(:last-child, .user-summary__avatar) {
      margin-left: 65px;
    }
    h6 {
      margin-bottom: 20px;
      font-size: 0.875em;
      font-weight: 500;
      line-height: 18px;
    }
  }
  &__avatar {
    justify-content: center;
    margin-left: 30px;
    span {
      width: 68px;
      height: 68px;
      padding: 0;
      border: none;
      border-radius: 50%;
      font-weight: bold;
      font-size: 1.4rem;
      background-color: rgba(17, 27, 255, 0.1);
      color: #335ffc;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__edit {
    h6 {
      font-size: 1em !important;
      font-weight: 700 !important;
    }
    a {
      padding: 9px 18px;
      background-color: transparent;
      border: 1px solid rgba(3, 4, 27, 0.1);
      border-radius: 10px;
      color: rgba(3, 4, 27, 0.4);
      font-size: 0.875rem;
    }
  }
  &__last-seen {
    & > div {
      color: rgba(3, 4, 27, 0.6);
    }
    svg {
      margin-left: 5px;
    }
  }
  &__level {
    img {
      width: 25px;
    }
    span {
      margin-left: 10px;
      color: rgba(3, 4, 27, 0.6);
    }
    a {
      font-weight: 500;
      font-size: 1rem;
    }
  }
}
.sub-link {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #111bff;
  padding: 0;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.data-table {
  border-collapse: collapse;
  font-weight: 100;
  text-rendering: optimizeLegibility;
  width: 100%;
  border-color: rgba(3, 4, 27, 0.1);
  caption-side: bottom;
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }
  th,
  td {
    padding: 12px;
  }
  thead th {
    font-size: 0.75em;
    font-weight: 500;
    color: rgba(3, 4, 27, 0.4);
    white-space: nowrap;
  }
  tbody td {
    font-size: 0.875em;
    font-weight: 500;
    color: #03041b;
    border-bottom: 1px solid rgba(3, 4, 27, 0.05);
  }
  .sub-link {
    font-size: 1em;
  }
}
.text-50 {
  color: rgba(3, 4, 27, 0.5) !important;
  padding-right: 5px;
}

.easy-text {
  font-size: 15px;
  line-height: 26px;
}

.easy-box {
  position: relative;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 10px;
  text-align: center;
  padding: 1.5rem 10px;
  text-decoration: none;
  display: block;
  color: #3e4b5b;
  box-shadow: 0 2px 4px rgba(126, 142, 177, 0.12);
  transition: all 0.25s ease;
  &:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 5px 12px rgba(126, 142, 177, 0.2);
  }
  &__value {
    font-size: 1rem;
    transition: all 0.25s ease;
    font-weight: 500;
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle;
  }
}
.trading {
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 2px 4px;
  border-radius: 4px;
  line-height: 1.2;
  font-size: 0.63rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  i {
    margin-left: 2px;
    vertical-align: middle;
    font-size: 14px;
  }
}
.trading-up {
  color: #fff;
  background-color: #24b314;
}

@media screen and (max-width: 978px) {
  .main-wrapper {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    .main-wrapper {
      width: 100%;
      padding: 0 24px 24px;
    }
  }
  .header {
    margin-right: -24px;
    margin-left: -24px;
    & .card {
      border-radius: 0;
      & .card-body {
        flex-wrap: wrap;
      }
    }
    &__logo {
      display: block;
    }
    &.__navbar {
      display: none;
    }
    &__subheader {
      display: flex;
      flex: 1 0 100%;
    }
  }
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 300px;
    max-width: 300px;
    z-index: 999;
    transform: translateX(100%);
    transition: all 0.4s ease-out 0.1s;
    &.expanded {
      transform: translateX(0);
    }
    &__close {
      display: block;
    }
    &__navbar {
      height: calc(100vh - 159px);
      overflow-y: auto;
      flex-wrap: nowrap;
    }
  }

  .user-summary {
    background-image: none !important;
  }
}

@media screen and (max-width: 767px) {
  .header {
    &__navbar {
      position: fixed;
      top: 0;
      left: 0;
      min-width: 300px;
      max-width: 300px;
      flex-wrap: wrap;
      background-color: #fff;
      height: 100%;
      z-index: 999;
      display: block;
      padding: 20px;
      transform: translateX(-100%);
      transition: all 0.4s ease-out 0.1s;
      box-shadow: 10px 4px 64px rgba(0, 0, 0, 0.03);
      li:not(:last-child, .dashboard-header__navbar__close) {
        border-left: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        margin: 0 0 5px 0;
        padding: 0 0 5px 0;
      }
      &__close {
        display: block;
        margin-bottom: 32px;
        button {
          border: none;
          padding: 0;
          background-color: transparent;
          outline: none;
          width: 12px;
          height: 12px;
          line-height: 12px;
          float: left;
        }
      }
      &.expanded {
        transform: translateX(0);
      }
    }
    &__hamburger-btn {
      & + & {
        display: block;
      }
    }
  }

  .user-summary {
    li {
      flex: 0 0 50%;
      padding: 0 25px;

      &:not(:last-child, .user-summary__avatar) {
        margin-left: 0;
      }
    }
    &__avatar {
      flex: 0 0 100% !important;
      margin-left: 0;
      span {
        margin: auto;
      }
    }
  }
}
