.wrapper {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  background-color: #fbfbfb;

  .main-wrapper {
    width: calc(100% - 236px);
    padding: 40px 24px;
    margin-right: 225px;
  }
}

.header {
  margin-bottom: 24px;
  & .card {
    background: #fff;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    border: none;
    & .card-body {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      padding: 20px 40px;
    }
  }
  &__logo {
    display: none;
  }
  &__navbar {
    display: flex;
    align-items: center;
    li {
      &:not(:last-child, .dashboard-header__navbar__close) {
        padding-left: 1rem;
        margin-left: 1rem;
        border-left: 1px solid rgba(3, 4, 27, 0.05);
      }
      a {
        display: inline-block;
        color: #03041b;
        font-size: 0.875em;
        font-weight: 400;
        line-height: 34px;
      }
    }
    &__close {
      display: none;
      line-height: 12px;
    }
  }
  &__support {
    margin-right: auto;
    margin-left: 30px;
    a {
      font-size: 0.875em;
      font-weight: 500;
      color: #03041b;
      span > svg {
        width: 24px;
        height: 24px;
        stroke: #696969;
        fill: none;
      }
    }
    &.active {
      span > svg {
        stroke: #111bff !important;
      }
    }
  }
  &__settings {
    margin-left: 10px;
    & > a > span > svg {
      width: 24px;
      height: 24px;
      fill: #696969;
    }
    &.active {
      svg {
        fill: #111bff !important;
      }
    }
  }
  &__profile {
    position: relative;
    display: none;
    background-color: #111bff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    &__btn {
      cursor: pointer;
      display: flex;
      color: #fff !important;
      justify-content: center;
      align-items: center;
      line-height: 1.3;
      height: 100%;
    }
    &__list {
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-color: #111bff;
      z-index: -1;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      a {
        height: 50px;
        width: 150px;
        font-size: clamp(0.8rem, 0.9vw, 1.2rem);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: ease 200ms all;
        &:first-child {
          color: #052b61;
          &:hover {
            background-color: #111bff;
            color: #fff;
          }
        }
        &:last-child {
          color: #ff1f11 !important;
          svg {
            fill: #ff1f11;
          }
          &:hover {
            background-color: #ff1f11;
            color: #fff !important;
            svg {
              fill: #fff;
            }
          }
        }
      }
      &.profile__open {
        top: 200%;
        width: auto;
        height: auto;
        background-color: #fff;
        border-radius: 8px;
        z-index: 1250;
        box-shadow: 1px 1px 3px #eee;
      }
    }
    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1200;
    }
  }
  &__notification {
    position: relative;
    margin-right: 20px;
    &:before {
      animation: ping 1.7s ease infinite;
      opacity: 0.25;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: -1px;
      right: -2px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #ff1f11;
    }
  }
  &__subheader {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px -25px 0;
    padding: 25px 25px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  &__hamburger-btn {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-left: 15px;
    & + & {
      margin-left: 0;
      display: none;
    }
  }
}

.sidebar {
  position: fixed;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-self: flex-start;
  height: 100vh;
  width: 236px;
  top: 0;
  background-color: #fff;
  padding: 0 20px;
  box-shadow: -10px 4px 64px rgba(0, 0, 0, 0.03);
  &__logo {
    text-align: center;
    padding: 60px 0;
    img {
      width: 86px;
    }
  }
  &__user {
    width: 160px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 0;
    border-bottom: 1px solid rgba(3, 4, 27, 0.03);
    span {
      width: 56px;
      height: 56px;
      padding: 0;
      border: none;
      border-radius: 50%;
      font-weight: bold;
      font-size: 1.2rem;
      background-color: rgba(17, 27, 255, 0.1);
      color: #335ffc;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-bottom: 10px;
    }
    &__name {
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
  .sidebar-wrapper {
    height: calc(100% - 270px);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
  }
  &__navbar {
    display: flex !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    margin-bottom: auto !important;
    flex-wrap: nowrap !important;
    &__item {
      position: relative;
      display: block;
      width: 100%;
      transition: all 200ms ease-out;
      & > a {
        cursor: pointer;
        position: relative;
        &:before {
          display: block;
          width: 3px;
          height: 22px;
          border-radius: 2px;
          background-color: #111bff;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        span {
          padding: 0 5px;
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
      &.active {
        & > a {
          border-radius: 10px;
          color: #111bff !important;
          font-weight: 500;
          &:before {
            content: "";
          }
          svg {
            stroke: #111bff !important;
            fill: #fff !important;
          }
        }
        .arrow-icon > svg {
          stroke: #111bff !important;
        }
      }
      & > span {
        position: absolute;
        top: 28px;
        left: 10px;
        svg {
          width: 12px;
          height: 12px;
        }
      }
      &.item-logout {
        margin-top: auto;
        svg {
          stroke: var(--bs-danger);
        }
        &:hover {
          a {
            color: #ff1f11;
          }
          svg {
            stroke: var(--bs-white);
          }
        }
      }
      a {
        display: block;
        height: 50px;
        line-height: 40px;
        color: #03041b;
        padding: 0 25px 0 0;
      }
      .icon {
        margin-left: 10px;
      }
      .arrow-icon {
        position: absolute;
        left: 5px;
        top: 0;
        margin-top: 5%;
        cursor: pointer;
        & > svg {
          width: 11px !important;
          height: 6px !important;
          transform: rotate(180deg);
          transition: all ease 200ms;
        }
        &.active-sub svg {
          transform: rotate(0);
        }
      }
      .submenu {
        padding-right: 50px;
        a {
          padding-right: 10px;
          color: #656571;
          height: 40px;
        }
        & > .active_sub a {
          color: #111bff;
        }
      }
    }
  }
  .short-navbar {
    height: calc(100vh - 370px) !important;
    padding-top: 10px;
  }
}

.mobile-menu {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 56px;
  border: 1px solid #ecf1f9;
  z-index: 100;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 0 20px;
    font-size: 0.8rem;
    li {
      height: 100%;
      display: flex;
      align-items: center;
      a {
        outline: 0;
        border: 0;
        margin: 0;
        border-radius: 0;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        color: #696969;
        flex-direction: column;
        flex: 1;
        padding: 0;
        transition: all ease-in-out 100ms;
        svg {
          stroke: #696969;
          transition: all ease 0.1s;
        }
        .sub-item {
          opacity: 1;
          font-size: 0.7rem;
          font-weight: 400;
          line-height: 1.6;
          text-transform: uppercase;
          color: #052b61;
          transition: all ease 0.1s;
        }
      }
      &:hover,
      &.active {
        svg {
          stroke: #111bff;
        }
        .sub-item {
          color: #111bff;
        }
      }
      &.bold-item {
        a {
          justify-content: flex-end;
          padding-bottom: 8px;
          .icon-item {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            -webkit-tap-highlight-color: transparent;
            box-shadow: none;
            min-width: initial;
            font-family: iranyekan-fanum, sans-serif;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.75;
            color: #ebf3ff;
            position: absolute;
            background-color: #111bff;
            border-radius: 6px;
            top: -18px;
            padding: 12px;
            transition:
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
              border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
              color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
          }
          svg {
            stroke: #fff;
          }
          .sub-item {
            margin-top: 40px;
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 1.6;
            text-transform: uppercase;
            text-align: center;
          }
        }
      }
    }
  }

  .more-menu {
    display: none;
    position: absolute;
    bottom: 55px;
    left: 0;
    right: 0;
    z-index: -1;
    height: calc(100vh - 56px);
    background-color: #39393a50;
    align-items: flex-end;
    z-index: 120;
    .sub-item {
      text-align: center;
    }
    &.show-more {
      display: flex;
    }
    &__wrapper {
      background-color: #fff;
      width: 100vw;
    }
    ul {
      padding: 0;
      justify-content: flex-start;
    }
    li {
      padding: 24px 8px;
      border-right: 1px solid #ecf1f9;
      border-bottom: 1px solid #ecf1f9;
      border-top: 1px solid #ecf1f9;
      &:last-child {
        border-left: 1px solid #ecf1f9;
      }
      a {
        max-height: 54px;
      }
      &:hover,
      &.active {
        background-color: #6b6b6b;
        .sub-item {
          color: #fff;
        }
      }
    }
  }
}

.custom-card {
  background: #fff;
  box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  border: none;
}

.user-summary {
  background-image: url(/src/assets/img/coins/bitcoin-batch.png) !important;
  background-repeat: no-repeat !important;
  background-size: 235px 183px !important;
  background-position: 40px -14px !important;
  &__body {
    padding: 40px !important;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: -24px;
  }
  li {
    min-height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;
    &:not(:last-child, .user-summary__avatar) {
      margin-left: 65px;
    }
    h6 {
      margin-bottom: 20px;
      font-size: 0.875em;
      font-weight: 500;
      line-height: 18px;
    }
  }
  &__avatar {
    justify-content: center;
    margin-left: 30px;
    span {
      width: 68px;
      height: 68px;
      padding: 0;
      border: none;
      border-radius: 50%;
      font-weight: bold;
      font-size: 1.4rem;
      background-color: rgba(17, 27, 255, 0.1);
      color: #335ffc;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__edit {
    h6 {
      font-size: 1em !important;
      font-weight: 700 !important;
    }
    a {
      padding: 9px 18px;
      background-color: transparent;
      border: 1px solid rgba(3, 4, 27, 0.1);
      border-radius: 10px;
      color: rgba(3, 4, 27, 0.4);
      font-size: 0.875rem;
    }
  }
  &__last-seen {
    & > div {
      color: rgba(3, 4, 27, 0.6);
    }
    svg {
      margin-left: 5px;
    }
  }
  &__level {
    img {
      width: 25px;
    }
    span {
      margin-left: 10px;
      color: rgba(3, 4, 27, 0.6);
    }
    a {
      font-weight: 500;
      font-size: 1rem;
    }
  }
}
.sub-link {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #111bff;
  padding: 0;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.data-table {
  border-collapse: collapse;
  font-weight: 100;
  text-rendering: optimizeLegibility;
  width: 100%;
  border-color: rgba(3, 4, 27, 0.1);
  caption-side: bottom;
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }
  th,
  td {
    padding: 8px;
  }
  thead th {
    font-size: 0.75em;
    font-weight: 500;
    color: rgba(3, 4, 27, 0.4);
    white-space: nowrap;
  }
  tbody td {
    font-size: 0.875em;
    font-weight: 400;
    color: #03041b;
    border-bottom: 1px solid rgba(3, 4, 27, 0.05);
  }
  .sub-link {
    font-size: 1em;
  }
}
.text-50 {
  color: rgba(3, 4, 27, 0.5) !important;
  padding-right: 5px;
}

.easy-text {
  font-size: 13px;
  line-height: 26px;
}

.easy-box {
  position: relative;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 10px;
  text-align: center;
  padding: 1.5rem 10px;
  text-decoration: none;
  display: block;
  color: #3e4b5b;
  box-shadow: 0 2px 4px rgba(126, 142, 177, 0.12);
  transition: all 0.25s ease;
  margin-bottom: 1rem;
  & > span {
    padding-left: 5px;
    svg {
      width: 24px !important;
      height: 24px !important;
    }
  }

  &:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 5px 12px rgba(126, 142, 177, 0.2);
  }
  &__value {
    font-size: 0.885rem;
    transition: all 0.25s ease;
    font-weight: 400;
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle;
  }
}
.trading {
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 2px 4px;
  border-radius: 4px;
  line-height: 1.2;
  font-size: 0.63rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  i {
    margin-left: 2px;
    vertical-align: middle;
    font-size: 14px;
  }
}
.trading-up {
  color: #fff;
  background-color: #24b314;
}

div.user-tier-card {
  background-color: #111bff08;
  box-shadow: none;
  &__header {
    background-color: transparent;
    padding-bottom: 0;
    border: none;
  }
  &__body {
    padding: 10px 25px 50px;
  }
}
.user-tier-summary {
  color: rgba(3, 4, 27, 0.5);
  font-size: 1em;
  margin-top: 15px;
  max-width: 440px;
  text-align: justify;
  & > a {
    height: 42px;
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.user-tier-advantages {
  h5 {
    font-size: 1em;
    margin-bottom: 20px;
  }
  & > li:not(:first-child) {
    font-size: 0.75em;
    font-weight: 400;
    color: rgba(3, 4, 27, 0.5);
    & + li {
      margin-top: 8px;
    }
    svg {
      margin-left: 5px;
    }
    strong {
      font-weight: 500;
      color: #03041b;
      margin-right: 5px;
    }
  }
}
.user-tier-second-button {
  display: none;
}
.level-now {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  span {
    margin-right: 10px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 1399px) {
  .data-table tbody td {
    min-width: 140px;
  }
  div.user-tier-card {
    &__body {
      padding-bottom: 25px;
    }
  }
  .user-tier-first-button .user-tier-summary {
    max-width: 100%;
    margin-bottom: 0;
    & > a {
      display: none;
    }
  }
  .user-tier-second-button {
    display: block;
  }
}

@media screen and (max-width: 978px) {
  .sidebar {
    display: none;
  }
  .header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    &__navbar {
      display: none;
    }
    &__logo {
      display: block;
    }
    .card .card-body {
      padding: 15px 24px;
    }
    &__support {
      margin-left: 10px;
    }
    &__profile {
      display: block;
    }
  }
  .mobile-menu {
    display: block;
  }
  .wrapper .main-wrapper {
    width: 100%;
    margin-right: 0;
    padding: 0 24px 40px;
    margin-top: 90px;
  }
}

@media screen and (max-width: 991px) {
  .user-summary {
    background-image: none !important;
  }
  .data-table tbody td {
    min-width: 140px;
  }
}

@media screen and (max-width: 767px) {
  .user-summary {
    li {
      flex: 0 0 50%;
      padding: 0 25px;

      &:not(:last-child, .user-summary__avatar) {
        margin-left: 0;
      }
    }
    &__avatar {
      flex: 0 0 100% !important;
      margin-left: 0;
      span {
        margin: auto;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .user-summary li {
    flex: 0 0 100%;
    padding: 0;
    text-align: center;
  }
}
