.auth-title {
  font-size: 1.125em;
  margin-bottom: 20px;
}

.auth-list {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  & > li {
    font-size: 0.75em;
    font-weight: 400;
    color: rgba(3, 4, 27, 0.5);
    & > span {
      margin-left: 5px;
      svg {
        width: 12px;
        height: 12px;
        color: rgb(14, 208, 57);
      }
    }
    & > strong {
      font-weight: 500;
      color: #03041b;
      margin-right: 5px;
    }
  }
}

.reject-reason-list {
  list-style: circle;
  margin: 5px 20px;
  font-size: 0.9rem;
  button {
    font-size: 0.7rem;
  }
}

.modal-title {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.note-text {
  font-size: 13px;
}

.secondary-btn {
  padding: 1rem !important;
  & > span {
    margin-left: 5px;
  }
}

.button-summary {
  text-align: right;
  color: #000;
  font-size: 11px;
  margin-top: 0.5rem;
}

.upload-container {
  height: 100%;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  &.empty-upload {
    cursor: pointer;
    color: rgba(3, 4, 27, 0.5);
    font-size: 0.8rem;
    transition: ease-in all 100ms;
    & > div:hover {
      color: #111bff;
      transition: ease-out all 100ms;
    }
    & > div:not(:last-child) {
      border-left: 1px solid #dee2e6;
    }
    svg {
      font-size: 3rem;
    }
  }
}

.video-container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 1.5rem auto;
  &:hover {
    .video-cover {
      opacity: 1;
    }
  }
  .video-warper {
    position: relative;
    width: 370px;
    height: 370px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
  }
  .empty-video {
    border-radius: 50%;
    margin: auto;
    width: 370px;
    height: 370px;
    display: flex;
    background-color: #91caff;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: #fff;
  }
  .video-cover {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    background-color: rgba(145, 202, 255, 0.6);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease;
    & > svg {
      color: #fff;
      font-size: 4rem;
    }
  }
}
.video-summary-text {
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #bfbfbf;
  background-color: #d9d9d9;
}
.image-container {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  position: relative;
  &:hover {
    .image-cover {
      opacity: 1;
    }
  }

  & > img {
    width: 100%;
    object-fit: cover;
    margin: auto;
    border-radius: 8px;
  }

  .image-cover {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 163, 158, 0.6);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #fff;
    transition: all 200ms ease;
  }
}

.iban-input-control {
  position: relative;
  direction: ltr;
  width: 100%;
  span {
    font-size: 0.75em;
    font-weight: 400;
    color: #03041b;
    position: absolute;
    left: 12px;
    top: 50%;
    height: 12px;
    line-height: 15px;
    transform: translateY(-50%);
    border-right: 1px solid rgba(3, 4, 27, 0.1);
    padding-right: 12px;
  }
  input {
    padding-left: 50px;
  }
}

.accounts-field {
  display: flex;
  margin-top: 2rem;
  & > label {
    display: flex;
    line-height: 48px;
    flex: 0 0 120px;
    margin-left: 10px;
  }
  & > div {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
    width: 100%;
  }
}

@mixin generate-steps() {
  @for $i from 1 through 60 {
    &--#{$i} {
      stroke-dasharray: generate-dasharray($i);
    }
  }
}

// Generate a SVG dasharray for step-progress.

@function generate-dasharray($step) {
  $stepSize: 1; // size of green/gray line
  $spacingSize: 5.15; // space between each line

  $dasharray: "";

  @for $i from 0 to $step {
    $dasharray: $dasharray + " " + $stepSize;

    // If it's the last step, add big spacing to prevent the dashing to repeat
    @if $i == $step - 1 {
      // 1000 = "random" high number (higher than the circumfence of the circle)
      $dasharray: $dasharray + " 1000";

      // If it's not the last step, add normal spacing
    } @else {
      $dasharray: $dasharray + " " + $spacingSize;
    }
  }

  // Sass will for some reason quote the string, so unquote it before returing
  @return unquote($dasharray);
}

.progressbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 400px;
  margin: auto;
  circle {
    fill: transparent;
  }

  &__circles {
    // Rotate so the progress will start from the top.
    // Every example of round progress bars we could find
    // starts from 12 o'clock
    transform: rotate(-90deg);
    z-index: 4;
    width: 100%;
    height: 100%;
    transition: all 10ms ease-in-out;

    & > svg {
      width: 100%;
      height: 100%;
      & > circle {
        transform: scale(3.2);
        transition: all 10ms ease-in-out;
      }
    }

    &__progress-dashes {
      stroke-linecap: round;
      stroke: #335ffc;
      transition: all 10ms ease-in-out;

      // We have 10 steps/bars. If 0 progress is done, don't even bother to show
      // it
      &--0 {
        display: none;
      }

      // Use a mixin to generate the other progress steps
      @include generate-steps();
    }

    &__background-dashes {
      stroke-linecap: round;
      stroke: #aaa;
      stroke-dasharray: generate-dasharray(60);
    }
  }
}

.delete-account-title {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity));
  display: flex;
  align-items: center;
  font-size: 1rem;
  position: relative;
  flex-direction: column;
  margin-bottom: 30px;
  .account-icon {
    padding-bottom: 10px;
    & > img {
      border-radius: 50%;
      width: 64px;
    }
  }
}

@media screen and (max-width: 575px) {
  .accounts-field {
    flex-direction: column;
    & > label {
      line-height: 20px;
      flex: 0 0 40px;
    }
  }
  .modal-title {
    align-items: center;
    h5 {
      font-size: 1rem;
    }
    button {
      font-size: 0.7rem;
      padding: 0 2px;
    }
  }
  .video-container {
    .video-warper {
      width: 180px;
      height: 180px;
      video {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .video-summary-text {
    font-size: 0.8rem;
  }
  .progressbar {
    &__circles {
      display: none;
    }
  }
}
