.comment {
  display: block;
  position: relative;
  margin-bottom: 30px;
  padding-left: 66px;
  &.admin-comment {
    padding-left: 0;
    padding-right: 66px;
  }
  &__body {
    position: relative;
    padding: 24px;
    border: 1px solid #e1e7ec;
    border-radius: 7px;
    background-color: #fff;
    &.answer {
      background: #2d59e833;
    }
  }
  &__header {
    display: table;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  &__text {
    margin-bottom: 12px;
  }
}
.support-btn {
  display: inline-grid;
}
.comment-meta {
  color: #9da9b9;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.comment-meta-prof {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  border-radius: 50%;
  font-weight: bold;
  font-size: 0.7rem;
  background-color: rgba(17, 27, 255, 0.1);
  color: #335ffc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  img {
    opacity: 0.8;
    width: 80%;
    object-fit: cover;
  }
}

.mobile-view {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  border: 1px solid #eee;
  overflow: hidden;
  position: relative;
  .counter {
    width: 30px;
    background-color: var(--bs-primary);
    color: var(--bs-white);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__body {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    width: 100%;
    font-size: 0.7rem;
  }
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h5 {
      font-size: 1rem;
      text-align: right;
    }
  }
  &__button {
    padding: 10px 0;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .table {
    thead {
      display: none;
    }
    tbody {
      td {
        display: flex;
        border-bottom: 1px solid rgba(3, 4, 27, 0.05);
        flex-wrap: wrap;
        justify-content: space-between;
        &:before {
          content: attr(data-th);
          display: flow-root;
        }
      }
    }
  }
}
