.arsonex-btn {
  margin-left: 0.7rem;
  border-radius: 8px;
  padding: 0.75rem 1.25rem;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.25rem;
  font-weight: 400;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  &:disabled {
    cursor: not-allowed;
  }
}
.full-width {
  width: 100%;
}
.primary {
  border: 2px solid #335FFC;
  background-color: #335FFC;
  color: #ffffff;
  &:hover {
    background-color: #4A71FC;
    border-color: #4A71FC;
  }
  &:active {
    background-color: #0333DD;
    border-color: #0333DD;
  }
  &:disabled {
    background-color: #D3D3D3;
    border-color: #D3D3D3;
  }
}

.primary-light {
  border: 2px solid #dae2ff;
  background-color: #dae2ff;
  color: #335FFC;
  &:hover {
    border-color: #335FFC;
    background-color: #335FFC;
    color: #ffffff;
  }
}

.primary-outline {
  background-color: transparent;
  border: 2px solid #335FFC;
  color: #335FFC;
  &:hover {
    color: #4A71FC;
    border-color: #4A71FC;
  }
  &:active {
    color: #0333DD;
    border-color: #0333DD;
  }
  &:disabled {
    color: #D3D3D3;
    border-color: #D3D3D3;
  }
}
