.wrapper {
  padding-bottom: 15px;
  direction: rtl;
}

.header {
  display: flex;
  align-items: center;
  background-color: #fffbf1;
  padding: 15px 60px 15px;
  margin-bottom: 30px;
}
.logo {
  flex: 0 0 86px;
  img {
    width: 75px;
  }
}
.confidence {
  flex: 0 0 calc(100% - 172px);
  text-align: center;
  margin-bottom: 35px;
  & > div {
    border: 1px solid rgba(204, 204, 204, 0.1803921569);
    border-radius: 6px;
    padding: 6px;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    & > span {
      vertical-align: middle;
    }
  }
  p {
    margin-bottom: 12px;
  }
  svg {
    color: #39d98a;
    margin-right: 10px;
  }
  label span {
    color: #39d98a;
  }
}

.container {
  .card {
    background: #fff;
    border-radius: 10px;
    border: none;
    width: 100%;
    max-width: 517px;
    min-height: 536px;
    margin: 0 auto;
    box-shadow: 0 4px 34px #0000000a;
  }
  .card-body {
    padding: 40px 50px;
  }
}

.title,
.text {
  text-align: center;
  margin-bottom: 24px;
}
.title {
  font-size: 1.5em;
  font-weight: 500;
}
.text {
  line-height: 26px;
  span {
    direction: ltr;
    padding: 0 5px;
  }
}
.form {
  direction: rtl;
  a {
    color: #111bff;
    text-decoration: none;
  }
  .submit {
    width: 100%;
    display: block;
    padding: 10px;
  }
  .link {
    margin: auto;
    display: block;
  }
  .terms {
    & > div {
      display: flex;
      flex-direction: row;
      padding-left: 0;
      & > input {
        float: none;
        margin-left: 8px;
      }
    }
  }
}
.already {
  word-spacing: 1px;
  text-align: center;
}
.forgotLink {
  margin-bottom: 1rem;
  a {
    font-size: 0.75em;
    font-weight: bold;
  }
}
.phone-number {
  border-radius: 0 8px 8px 0 !important;
  input {
    direction: ltr !important;
  }
}

.otp-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  direction: ltr;

  .otp-input {
    direction: ltr;
    text-align: center !important;
    display: block;
    width: calc(100% / 6.5) !important;
    height: 48px;
    line-height: 48px;
    margin: 0;
    padding: 0.375rem 0.75rem;
    font-size: 0.875em;
    font-weight: bold;
    color: #03041b;
    box-shadow: none;
    background-color: #fff;
    background-clip: padding-box;
    appearance: none;
    border-radius: 10px;
    border: 1px solid rgba(3, 4, 27, 0.1);
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }
}
.custom-header {
  position: relative;
  padding: 25px 0 !important;
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-size:
    209px 203px,
    216px 210px,
    129px 126px,
    111px 107px,
    1173px 520px,
    100% 862px;
  background-position:
    calc(100% - 100px) 525px,
    50px 326px,
    293.5px 527px,
    calc(100% - 203px) 317px,
    0 263px,
    0 0;
  border-bottom: 1px solid #cccccc6b;
}
.ref-code {
  label {
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .header {
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
  }
  .logo {
    text-align: center;
    margin-bottom: 16px;
  }
  .confidence {
    flex-basis: 100%;
    span {
      margin-right: 5px;
    }
  }
  .container {
    padding: 0 15px;
    .card {
      min-height: unset;
    }
    .card-body {
      padding: 25px;
    }
  }
  .title {
    font-size: 1.125em;
  }
  .text {
    font-size: 0.75em;
  }
}

.login-type {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: center;
  margin-bottom: 1.5rem;
  transition: all ease-in 400ms;
  & > div {
    background-color: #eee;
    padding: 2px;
    border-radius: 8px;
    border: 1px solid #eee;
  }
  button {
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin: 0 3px;
    transition: all ease-in 400ms;
    &:hover {
      color: #111bff;
    }
  }
  &__active {
    background-color: #111bff !important;
    color: #fff !important;
    &:hover {
      color: #fff !important;
    }
  }
}
