@import "../../assets/scss/_variables";

.landing-currencies .currency {
  max-width: 752px;
  margin-right: auto;
  margin-left: auto;
}

.landing-features {
  padding-bottom: 140px;
  background: {
    image: url("../../..//assets/img/coins/btccash.png"),
      url("../../../assets/img/lay/dot-primary-33x33.png"),
      url("../../../assets/img/lay/dot-primary-33x33.png"),
      url("../../../assets/img/lay/dot-warning-33x33.png");
    repeat: no-repeat;
    position:
      calc(100% - 185px) 100%,
      600px calc(100% - 82px),
      calc(100% - 105px) calc(100% - 622px),
      90px calc(100% - 517px);
  }

  .section-title {
    margin-bottom: 100px;
  }

  .landing-features__wrapper {
    margin-top: -60px;
    margin-bottom: 130px;

    .feature {
      margin-top: 60px;
    }
  }

  .landing-features__slide {
    margin-bottom: 115px;

    .features-slider {
      max-width: 1280px;
      margin: 0 auto;
      padding-right: 12px;
      padding-left: 12px;
    }
  }
  .counter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -24px;

    li {
      padding: 0 12px;
      margin-top: 24px;

      div {
        background-color: $primary-10;
        width: 365px;
        height: 195px;
        border-radius: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      h5 {
        font-size: 1.25em;
        font-weight: 700;
      }

      span {
        font-size: 1em;
        font-weight: 500;
        color: $primary;
        align-self: center;
      }

      strong {
        font-size: 1.25em;
        font-weight: 700;
      }
    }

    &.counter-list--mt250 {
      margin-top: calc(250px - 24px);
    }

    &.counter-list--mb150 {
      margin-bottom: 150px;
    }
  }
  .feature-slide {
    display: flex;
    align-items: center;
    border-radius: 20px;
    height: 248px;
    background: {
      repeat: no-repeat;
      position: 0 0;
      size: 330px;
    }
  }

  .feature-slide-caption {
    flex: 0 0 320px;
    padding-right: 40px;
  }

  .feature-slide-title,
  .feature-slide-subtitle {
    color: #fff;
  }

  .feature-slide-title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .feature-slide-subtitle {
    font-weight: 400;
    margin: 0;
  }

  .feature-slide--blue {
    background-color: #2853c4;
    background-image: url("../../../assets/img/slides/slide-011.png");
  }

  .feature-slide--darkblue {
    background-color: #002954;
    background-image: url("../../../assets/img/slides/slide-022.png");
  }
  .feature {
    display: flex;
    align-items: flex-start;
  }

  .feature-body {
    margin-top: 50px;
  }

  .feature-img {
    margin-left: 25px;
  }

  .feature-title {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .feature-text {
    font-weight: 400;
    margin: 0;
  }

  .feature-banner {
    text-align: center;
    padding-top: 90px;
    background: {
      image: url("../../../assets/img/lay/feature-mask.png");
      repeat: no-repeat;
      position: 50% 0;
      size: 946px 642px;
    }

    p {
      font-size: 1.5em;
      font-weight: 400;
      margin: 0 auto 30px;
      max-width: 645px;
      line-height: 1.5em;
    }

    img {
      width: 100%;
      max-width: 880px;
    }
  }
}

.landing-crypto-banner {
  transform: translateY(105px);
  margin-top: -105px;
  .btn-white {
    background-color: #fff;
    border-color: #fff;
    color: #040f4a;
    font-weight: 700;
    font-size: 1rem;
    padding: 0 30px;
    height: 56px;
    line-height: 52px;
    border-radius: 28px;
    border-width: 2px;
  }
}

.landing-articles .container {
  max-width: 1280px;
}

.landing-currency-rates {
  padding-top: 182px;
  margin-top: -80px;
  background: {
    image: url("../../../assets/img/lay/currency-rates-pattern.png");
    repeat: no-repeat;
    position: 46% 40px;
  }

  .section-title .section-title__title:after {
    background-position-x: 25%;
  }
}

.landing-comments {
  padding-top: 10px;
  padding-bottom: 275px;
  background: {
    image: url("../../../assets/img/coins/eth-2.png"),
      url("../../../assets/img/lay/dot-danger-18x18.png");
    repeat: no-repeat;
    position:
      60px 95%,
      150px 0;
  }
}

.landing-articles {
  margin-bottom: 100px;
  .article {
    direction: rtl;
    padding: 0 10px;
  }

  .section-title {
    margin-bottom: 115px;
  }
}

.landing-comments {
  .comment {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 44px 64px rgba(3, 4, 27, 0.05);
    direction: rtl;
    margin: 10px;
    padding: 2%;
  }

  .comment-header {
    margin: 0 40px;
    padding: 30px 0 23px;
    border-bottom: 2px solid rgba(#000, 10%);
  }

  .comment-user {
    display: flex;
    align-items: center;

    .avatar {
      width: 56px;
      max-width: 56px;
      flex: 0 0 56px;
      height: 56px;
      padding: 0;
      border: none;
    }
  }

  .comment-username {
    margin: 0 24px 0 0;
    font-weight: 700;
  }

  .comment-body {
    padding: 30px 40px 60px;
  }

  .comment-text {
    font-size: 1em;
    font-weight: 500;
    margin: 0;
  }
}
.activeFilterItem {
  color: blue;
  border: 1px solid blue;
  border-radius: 8px;
}
.diActiveFilterItem {
  color: black;
}
