.exchangeInput{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(217 217 217);
    border-radius: 10px;
    outline: none;
    padding: 10px 5px;

    .Input{
        border: none;
        outline: none;
        width: 100%;
        padding: 0.5rem;
        font-size: 12px;
        font-weight: 500;
        color: #000000;
        border-radius: 10px;
    }
    .buttonTop{
        width: 100px;
        border: none;
        outline: none;
        background-color: #f8f8f8;
        border-radius: 10px;
        padding: 0.5rem;
        font-size: 12px;
        font-weight: 500;
        color: #000000;
        cursor: pointer;
    }
    .button{
        width: 160px;
        border: none;
        outline: none;
        background-color: #f8f8f8;
        border-radius: 10px;
        padding: 0.5rem;
        font-size: 12px;
        font-weight: 500;
        color: #000000;
        cursor: pointer;
    }

}