@import "../../../assets/scss/_variables";

.landing-footer {
  background-color: $footer-bg;
  padding: 200px 0 45px;
  background: {
    image: url("../../../assets/img/lay/footer-pattern.png");
    repeat: no-repeat;
    position: 50% 0;
  }
  .footer-text {
    color: #fff;
  }

  .social-media {
    margin-right: auto;
  }

  .footer-widget-title {
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 50px;
  }

  .footer-links {
    li + li {
      margin-top: 24px;
    }

    a {
      color: #fff;
      font-size: 1em;
      font-weight: 500;
    }
  }

  .footer-bottom {
    padding-top: 45px;
    border-top: 2px solid rgba(#fff, 10%);
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .footer-copyright {
    font-size: 1em;
    font-weight: 500;
    color: rgba(#fff, 40%);
  }
}
