@import "../../../assets/scss/_variables";

.landing-header {
  position: relative;
  padding-top: 40px;

  .header__top {
    max-width: 1280px;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px;
  }

  nav {
    margin: 0 auto;
  }

  img.logo {
    width: 150px;
  }

  .header__auth {
    .navbar .navbar__item a {
      color: $primary;
    }

    .header__auth--register a {
      font-weight: 700;
    }
  }

  .header-intro {
    text-align: center;
    margin-top: 160px;

    h1,
    p {
      color: #fff;
      margin-bottom: 30px;
    }

    h1 {
      font-size: 2.5em;
      font-weight: 700;
    }

    p {
      font-size: 1.25em;
      font-weight: 500;
      max-width: 535px;
      margin-right: auto;
      margin-left: auto;
    }

    .btn {
      font-weight: 700;
    }
  }

  &.header--landing {
    height: 862px;
    background: {
      image: url("src/assets/img/coins/coin-eth-p.png"),
        url("src/assets/img/coins/coin-eth-w.png"),
        url("src/assets/img/coins/coin-btc.png"),
        url("src/assets/img/coins/coin-usdt.png"),
        url("src/assets/img/lay/header-pattern.png"),
        url("src/assets/img/lay/header-bg-2.png");
      repeat: no-repeat;
      size:
        209px 203px,
        216px 210px,
        129px 126px,
        111px 107px,
        1173px 520px,
        100% 862px;
      position:
        calc(100% - 100px) 525px,
        50px 326px,
        293.5px 527px,
        calc(100% - 203px) 317px,
        0 263px,
        0 0;
    }

    .header-hamburger button .icon svg {
      path,
      circle {
        stroke: #fff;
      }

      circle {
        stroke-opacity: 0.4;
      }
    }
  }

  &:not(.header--landing) {
    margin-bottom: 135px;
  }
}

.header-hamburger {
  display: none;

  button {
    border: none;
    padding: 0;
    background-color: transparent;
    outline: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    line-height: 48px;

    .icon svg {
      width: 48px;
      height: 48px;

      path,
      circle {
        stroke: $text-100;
      }

      circle {
        stroke-opacity: 0.1;
      }
    }
  }
}
