.input-control {
  position: relative;
  width: 100%;
  input {
    padding-right: 40px;
    direction: ltr;
    &::after {
      content: "\00a0"; /* Unicode non-breaking space character */
      white-space: pre; /* Preserve whitespace */
    }
  }
  svg,
  img {
    position: absolute;
    right: 12px;
    height: 100%;
    line-height: 48px;
    font-size: 1.2rem;
    box-shadow: none;
    border-left-color: transparent;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 0;
    z-index: 2;
    transition: all ease 200ms;
  }
  img {
    width: 25px;
    height: auto;
    opacity: 0.7;
    top: 10px;
    border-radius: 50%;
  }
}
