.currency-input {
  height: 48px;
  line-height: 48px !important;
  font-size: 0.75rem !important;
  background-color: #fff !important;
  border: 1px solid rgba(3, 4, 27, 0.1) !important;
  box-shadow: none;
  color: #03041b !important;
  direction: ltr;
}
