.float-input {
  width: 100%;
  position: relative;
  padding-bottom: 5px;
  .prefix-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    svg {
      stroke: #696969;
      fill: none;
      width: 20px;
    }
  }
  input {
    height: 42px;
    padding: 15px 40px 15px 30px;
    outline: none !important;
    box-shadow: none !important;
    &:focus {
      border-color: rgba(3, 4, 27, 0.1);
    }
  }
  .suffix-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    svg {
      stroke: #696969;
      fill: none;
      width: 18px;
    }
  }
  .label {
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    right: 40px;
    top: 11px;
    z-index: 10;
    font-size: 0.775em;
    transition: 0.2s ease all;
    &.as-placeholder {
      color: gray;
    }
    &.as-label {
      top: -8px;
      right: 25px;
      font-size: 0.7em;
      background: white;
      padding: 0 4px;
      margin-left: -4px;
    }
  }
  .is-prefix {
    right: 40px;
  }
}
