.iban-input-control {
  position: relative;
  direction: ltr;
  width: 100%;
  &.iban-control-error{
    span{
      top: 33%;
    }
    .iban-icon-holder {
      top: 17px;
    }
  }
  span {
    font-size: 0.75em;
    font-weight: 400;
    color: #03041b;
    position: absolute;
    left: 12px;
    top: 50%;
    height: 12px;
    line-height: 15px;
    transform: translateY(-50%);
    border-right: 1px solid rgba(3, 4, 27, 0.1);
    padding-right: 12px;
  }
  .iban-icon-holder {
    position: absolute;
    right: 12px;
    left: auto;
    z-index: 2;
    top: 18px;
    width: 24px;
    border-right: none;
    svg,
    img {
      width: 24px;
      height: auto;
      object-fit: cover;
      line-height: 48px;
      font-size: 1.2rem;
      box-shadow: none;
      border-left-color: transparent;
      border: 0;
      transition: all ease 200ms;
      border-radius: 50%;
    }
  }
  input {
    padding-left: 50px;
    padding-right: 40px;
    &::after {
      content: "\00a0"; /* Unicode non-breaking space character */
      white-space: pre; /* Preserve whitespace */
    }
  }
}
