.validation {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 30px;
  & > li {
    padding: 1px 0;
    font-family: var(--bs-font-iranyekaneFa);
    border-block-end: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    color: rgba(0, 0, 0, 0.88);
    margin-bottom: 5px;
    svg {
      stroke: #696969;
      fill: none;
      margin-left: 10px;
      width: 20px;
    }
    h4 {
      font-size: 0.8rem;
      margin-bottom: 0;
    }
    &.unCheck {
      h4 {
        color: #f5222d;
      }
      svg {
        stroke: #f5222d;
      }
    }
    &.check {
      h4 {
        color: #52c41a;
      }
      svg {
        stroke: #52c41a;
      }
    }
  }
}
