.float-input {
  position: relative;
  font-family: var(--bs-font-iranyekaneFa);
  padding-bottom: 5px;
  direction: ltr;
  position: relative;
  .container {
    font-family: var(--bs-font-iranyekaneFa);
    & > div:first-child {
      font-family: var(--bs-font-iranyekaneFa);
      button {
        height: 42px;
        width: 100%;
        padding: 10px 10px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-right: none;
        border-right-color: transparent;
        &:hover {
          background-color: #fff;
        }
      }
      ul {
        width: 110px;
        border: none;
        outline: none;
        & > li {
          & > span {
            display: none;
          }
          & > span + span {
            display: block;
          }
        }
      }
    }
    & > div:not(:first-child) {
      margin-left: -6px;
      min-width: 52px !important;
      border-left: none;
    }
  }

  .input {
    padding: 10px 40px 10px 10px;
    width: 100%;
    min-height: 42px;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    &::placeholder {
      text-align: right;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      right: 12px;
      top: 11px;
      transition: 0.2s ease all;
      z-index: 10;
    }
  }
  .icon {
    position: absolute;
    top: 5px;
    right: 8px;
    svg {
      fill: none;
      stroke: #696969;
      width: 20px;
    }
  }
  .label {
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    right: 40px;
    top: 11px;
    z-index: 10;
    font-size: 0.775em;
    transition: 0.2s ease all;
    &.as-placeholder {
      color: gray;
    }
    &.as-label {
      top: -8px;
      right: 25px;
      font-size: 0.7em;
      background: white;
      padding: 0 4px;
      margin-left: -4px;
    }
  }
  .is-prefix {
    right: 40px;
  }
}
