@import "../../assets/scss/_variables";

.auth-wrapper {
  font-family: IRANYekanX;
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    font-family: inherit;
    color: #03041b;
  }

  p,
  label {
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.8;
    color: #03041b;
  }

  a {
    color: #335ffc;
    text-decoration: none;
  }

  padding-bottom: 15px;
  .auth-header {
    display: flex;
    align-items: center;
    &.auth-header--bg {
      background-color: #fffbf1;
      padding: 15px 60px 15px;
      margin-bottom: 30px;
      .auth-logo img {
        width: 75px;
      }
    }
  }
  .auth-logo {
    flex: 0 0 86px;
  }
  .auth-gain-confidence {
    flex: 0 0 calc(100% - 172px);
    text-align: center;
    p {
      margin-bottom: 12px;
    }
    .icon {
      margin-right: 30px;
    }
    label span {
      color: #39d98a;
    }
  }

  .card {
    background: #fff;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    .card-body {
      padding: 25px;
      flex: 1 1 auto;
    }
  }
  .auth-title,
  .auth-text {
    text-align: center;
    margin-bottom: 24px;
  }
  .auth-title {
    font-size: 1.5em;
    font-weight: 500;
  }
  .auth-text,
  .auth-resend,
  .auth-counter {
    line-height: 26px;
  }
  .auth-forgot a {
    font-size: 0.75em;
    font-weight: bold;
  }
  .btn {
    font-size: 1rem;
    font-weight: 500;
    padding: 18px 30px;
    line-height: 1rem;
    border-radius: 10px;
    border-width: 2px;
  }
  .auth-submit {
    width: 100%;
    display: block;
    padding: 14px;
  }
  .auth-already {
    text-align: center;
    a {
      font-weight: 500;
    }
  }
  .auth-confirmation {
    .card-body {
      padding-right: 70px;
      padding-left: 70px;
    }
    .auth-title {
      font-size: 1.375em;
      font-weight: 700;
    }
    .code-input-control {
      display: flex;
      align-items: center;
      direction: ltr;
    }
    .auth-form .form-control {
      font-size: 0.875em;
      font-weight: 700;
      text-align: center;
    }
  }
  .auth-card.auth-card--bordered {
    box-shadow: none;
    border: 1px solid rgba(3, 4, 27, 0.1);
  }
  .btn-simple {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    color: #111bff;
    padding: 0;
    margin: 0;
    font-family: inherit;
  }
  .auth-summary {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
    & > * {
      margin-bottom: 0;
    }
    & > *:not(:last-child) {
      margin-left: 15px;
    }
    & > *:last-child {
      flex: 0 0 max-content;
    }
  }

  .auth-counter {
    margin-right: auto;
    font-size: 1em;
    font-weight: 500;
    color: #111bff;
  }

  .auth-resend {
    font-size: 0.875em;
    font-weight: 700;
    margin-right: auto;
  }

  .auth-text,
  .auth-resend,
  .auth-counter {
    line-height: 26px;
  }
}
