.summary {
  padding-bottom: 50px;
  background-image: url(/src/assets/img/lay/about-summary.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  margin-top: 50px;
  &__card {
    border: none;
    background: #fff;
    max-width: 786px;
    margin: 0 auto;
    box-shadow: 0 44px 64px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
  }
  &__card-body {
    flex: 1 1 auto;
    padding: 40px 154px;
  }
  &__text {
    font-size: 1em;
    font-weight: 500;
    color: #040f4a;
    margin: 0;
    line-height: 1.8;
    text-align: center;
  }
}

.counter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 226px;
  margin-bottom: 150px;
  & > li {
    padding: 0 12px;
    margin-top: 24px;
    & > div {
      background-color: rgba(51, 95, 252, 0.1);
      width: 365px;
      height: 195px;
      border-radius: 20px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    h5 {
      font-size: 1.25em;
      font-weight: 700;
    }
    span {
      font-size: 1em;
      font-weight: 500;
      color: #335ffc;
      align-self: center;
    }
    strong {
      font-size: 1.25em;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 991px) {
  .summary {
    margin-top: 100px;
    &__card-body {
      padding: 40px;
    }
  }
  .counter-list {
    margin-top: 80px;
    margin-bottom: 0;
  }
}
