.float-input {
  font-family: var(--bs-font-iranyekaneFa);
  padding-bottom: 5px;
  direction: ltr;

  .react-international-phone-input-container {
    font-family: var(--bs-font-iranyekaneFa);
    
    .react-international-phone-country-selector{
      font-family: var(--bs-font-iranyekaneFa);
      button{
        height: 42px;
        width: 100%;
        padding: 10px 10px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-right:none
      }
     
    }
    .react-international-phone-input-container .react-international-phone-country-selector-button { border-right-color: transparent;}
    .react-international-phone-dial-code-preview{ margin-left: -6px;}
    input{
      padding: 10px 10px;
      min-width: 78%;
      min-height: 42px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    input::placeholder {
      text-align: right;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      right: 12px;
      top: 11px;
      transition: 0.2s ease all;
      z-index: 10;
    }
    
   
  }

  .label {
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    right: 12px;
    top: 11px;
    transition: 0.2s ease all;
    z-index: 10;

    &.as-placeholder {
      color: gray;
    }
    &.as-label {
      top: -8px;
      right: 12px;
      font-size: 12px !important;
      background: white;
      padding: 0 4px;
      margin-left: -4px;
    }
  }
  .is-prefix {
    right: 40px;
  }
}
