.select_box_holder {
  position: relative;
  cursor: pointer;
}

.select_box {
  position: relative;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  gap: 10px;

  & div {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}

.select_box_arrow {
  width: 6px;
  height: 6px;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='5' viewBox='0 0 6 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.258295 1.72078L2.41663 3.87911C2.74163 4.20411 3.26663 4.20411 3.59163 3.87911L5.74996 1.72078C6.27496 1.19578 5.89996 0.295776 5.15829 0.295776H0.841628C0.0999614 0.295776 -0.266705 1.19578 0.258295 1.72078Z' fill='%231A1A1A'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;

  /* &::after {
    content: '';
    width: 6px;
    height: 6px;
    margin-right: auto;
    margin-left: 5px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
  } */
}

.dark_select::after {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.709563 2.67289L3.29956 5.26289C3.68956 5.65289 4.31956 5.65289 4.70956 5.26289L7.29956 2.67289C7.92956 2.04289 7.47956 0.962891 6.58956 0.962891H1.40956C0.519563 0.962891 0.0795632 2.04289 0.709563 2.67289Z' fill='%23E0E0E0'/%3E%3C/svg%3E%0A") !important;
}

@keyframes openselectanimation {
  from {
    opacity: 0;
    top: 77%;
  }

  to {
    opacity: 1;
    top: 10px;
  }
}

@keyframes closeselectanimation {
  from {
    opacity: 1;
    top: 10px;
  }

  to {
    opacity: 0;
    top: 77%;
  }
}

.options_list {
  position: absolute;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--select);
  inset: 10px;
  border-radius: 12px;
  color: var(--text-black);
  font-size: var(--font_14);
  z-index: 1;
  display: flex;
  flex-direction: column;
  opacity: 0;
  top: 77%;
}

.options_list_open {
  z-index: 9999;
  animation: 0.3s linear openselectanimation both;
}

.options_list_close {
  animation: 0.3s linear closeselectanimation both;
}

.options_item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  color: hsl(224 71.4% 4.1%);
  justify-content: space-between;
}

.options_item:hover {
  background-color: hsl(
    217.89999999999998 10.6% 64.9% / var(--twc-secondary-dull-opacity, 1)
  );
}

.select_ptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search_box {
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 15px;
  transition: 0.2s;
  background-color: #e5e7eb;
  color: #030712;
}

.search_box_close {
  position: absolute;
  left: 15px;
  background-color: transparent !important;
}

.select_options_scroll {
  overflow-x: hidden;
  overflow-y: auto;
  direction: ltr;
  background-color: #d1d5db;

  &::-webkit-scrollbar-track {
    background-color: #e5e7eb;
    border: 1px solid #cacaca;
    border-radius: 8px;
    height: 5px;
  }

  &::-webkit-scrollbar {
    width: 7px;
    direction: ltr;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsl(
      217.89999999999998 10.6% 64.9% / var(--twc-secondary-dull-opacity, 1)
    );
    border-radius: 8px;
  }
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #cacaca;
}

.options_item_label {
  display: flex;
  flex-direction: row;
}
